// .App {
	// text-align: center;
// }
button {
		font-weight: bold;
		font-size: medium;
		color:rgb(216, 204, 206);
		background:darkblue;
		border-radius:20%;
		width: 70px;
		height: 50px;

	};
button:hover {
	background-color: rgb(36, 104, 230);
};
/*.layer{
	 position: absolute;
	 top:2%;
	 left:25%;
	 width:16%;
	 height:50%;
	 border: 2px solid black;
	 background-color: rgb(8, 6, 6);
}*/
.text-box{
	 position: absolute;
	 left:50%;
	 top:50%;
}
